
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
li{
    list-style-type: none;
    border: 1px solid;
    border-radius: 5px;
    /* background-color: rgb(223, 187, 253); */
}
.foods{
    justify-content: center;
}
.btn-edit{
    background-color: #DCA6B5;
}
.btn-edit:hover{
    background-color: #f38eab;
    color: rgb(249, 249, 246);
}
.price{
    color: #ea4b78;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #ea4b78;
}
 .food:hover{
    box-shadow: 2px 0 2px 2px #c2bcbe;
    width: 330px;
    /* border-radius: 50%; */
} 
