body{
    /* background-color: blue; */
}
a:hover{
    text-decoration: none;
}
li{
    list-style-type: none;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(223, 187, 253);
}
li:hover{
    background-color: rgb(146, 59, 227);
}